.main-block{
	overflow: hidden;
	border: 1px #bababa solid;
	border-radius: 5px;
	background: #f0efee;
	margin-bottom: 35px;
}

.main-block .Head-text{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	font-size: 24px;
	font-weight: bolder;
	color: #eeedec;
	margin: 0 0 38px;
	background: linear-gradient(to top, #7c7979, #a8a7a7);
	display: inline-block;
	padding: 14px 40px;
}

.main-block .photo-wrap{
	float: left;
	margin-left: 44px;
	margin-bottom: 38px;
}

.main-block .photo{
	width: 136px;
	height: 136px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 7px #FFF solid;
}

.avatar{
	width: 100%;
}

.main-block .information{
	float: right;
	width: 448px;
	margin-bottom: 22px;
}

.main-block .about-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-block .about-list-item{
	margin-bottom: 8px;
}

.main-block .about-list-item:last-child{
	margin-top: 20px;
}

.main-block .about-string{
	float: left;
	margin-left: 28px;
	font-size: 14px;
	font-weight: bolder;
}

.main-block .about-text{
	margin: 0px;
	padding-left: 8px;
	overflow: hidden;
	font-size: 14px;
	font-style: normal;
	max-width: 220px;
}

.main-block .skill-list{
	color: #1e7465;
	font-weight: bolder;
	list-style: none;
	float: right;
	max-width: 220px;
	padding: 0;
}

.main-block .skill-list .skill-list-item{
	text-align: center;
	float: left;
	margin-left: 7px;
	margin-bottom: 8px;
	height: 18px;
	display: block;
	background-size: contain;
}



.main-block .work .work-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 25px;
}

.work-list .work-item{
	margin-left: 40px;
	width: 87%;
	overflow: hidden;
	font-size: 14px;
	border-bottom: 1px #d0d0d0 groove;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.work-list .work-item:last-child{
	border-style: none;
	margin-bottom: -5px;
}

.work-item .where{
	font-weight: bolder;
	margin-bottom: 5px;
}

.main-block .edu .edu-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 36px;
}

.edu-list .edu-item{
	/*font-size: 14px;
	border-bottom: 1px #d0d0d0 groove;
	padding-bottom: 12px;
	margin-bottom: 12px;
	height: auto;*/
	margin-left: 40px;
	width: 87%;
	overflow: hidden;
	font-size: 14px;
	border-bottom: 1px #d0d0d0 groove;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.edu-list .edu-item:last-child{
	border-style: none;
}


.edu-item .where{
	/*clear: none;
	font-weight: bolder;*/
	font-weight: bolder;
	margin-bottom: 5px;
}

.text-wrap{
	display: block;
	height: 100%;
	vertical-align: center;
	clear: none;
	margin-left: 95px;
}

.icon-wrap{
	background: #FFF;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 1px #d0d0d0 solid;
	box-shadow: 1px 1px 1px 0px #575555 inset; 
}

.icon{
	width: 45%;
	position: relative;
	top: 15px;
	left: 14px;
}


.skill-list .skill-list-item .skill-list-item-text{
		background: url(../img/skill.png) no-repeat center;
}

