.main-block{
	overflow: hidden;
	border: 1px #bababa solid;
	border-radius: 4px;
	background: #f0efee;
	margin-bottom: 26px;
}

.main-block .Head-text{
	width: 100%;
	font-size: 24px;
	font-weight: bolder;
	color: #eeedec;
	border: 1px #636363 solid;
	margin: 0 0 30px;
	background: linear-gradient(to top, #7c7979, #a8a7a7);
	display: inline-block;
	padding: 13px 44px;
}

.main-block .photo-wrap{
	float: left;
	margin-left: 44px;
	margin-bottom: 38px;
}

.main-block .photo{
	width: 135px;
	height: 135px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 8px #FFF solid;
}

.avatar{
	width: 100%;
}

.main-block .information{
	float: right;
	width: 440px;
	margin-bottom: 38px;
}

.main-block .about-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-block .about-list-item{
	margin-bottom: 8px;
}

.main-block .about-string{
	float: left;
	margin-left: 28px;
	font-size: 14px;
	font-weight: bolder;
}

.main-block .about-text{
	margin: 0px;
	padding-left: 8px;
	overflow: hidden;
	font-size: 14px;
	font-style: normal;
	max-width: 220px;
}

.main-block .skill-list{
	list-style: none;
	float: right;
	max-width: 220px;
	padding: 0;
}

.main-block .skill-list .skill-list-item{
	text-align: center;
	float: left;
	margin-left: 7px;
	margin-bottom: 8px;
	height: 18px;
	display: block;
	background-size: contain;
}



.main-block .work .work-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 36px;
}

.work-list .work-item{
	font-size: 14px;
	border-bottom: 1px #d0d0d0 groove;
	padding-bottom: 12px;
	margin-bottom: 12px;

}

.work-list .work-item:last-child{
	border-style: none;
}

.work-item .where{
	font-weight: bolder;
}

.main-block .edu .edu-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 36px;
}

.edu-list .edu-item{
	font-size: 14px;
	border-bottom: 1px #d0d0d0 groove;
	padding-bottom: 12px;
	margin-bottom: 12px;
	height: auto;
}

.edu-list .edu-item:last-child{
	display: block;
	border-style: none;
}


.edu-item .where{
	clear: none;
	font-weight: bolder;
}

.text-wrap{
	clear: none;
	margin-left: 100px;
	height: auto;
}

.icon-wrap{
	float: left;
	width: 44px;
	height: 44px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 1px #d0d0d0 groove;
	margin-left: 40px;
}

.icon{
	width: 60%;
	position: relative;
	top: 9px;
	left: 9px;
}


.skill-list .skill-list-item .skill-list-item-text{
		background: url(../img/skill.png) no-repeat center;
}

