.main-block{
	overflow: hidden;
	border: 1px #bababa solid;
	border-radius: 6px;
	background: #f0efee;
	margin-bottom: 26px;
}

.main-block .Head-text{
	font-size: 24px;
	font-weight: normal;
	color: #eeedec;
	border: 1px #636363 solid;
	margin: 0 0 30px;
	background: linear-gradient(to top, #7c7979, #a8a7a7);
	padding: 14px 40px;
}

.information{
	width: 400px;
	margin: 0 auto;
}

.information .contact-f{
	margin-bottom: 30px;
}

.contact-f .name-email-contact{
	margin-bottom: 12px;
	display: inline-block;
}

.name-contact{
	width: 188px;
	float: left;
}

.label-name{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.label-email{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.name-input{
	font-size: 12px;
	width: 178px;
	height: 29px;
	border: 1px #bababa solid;
	border-radius: 4px;
	padding: 5px 7px;
}

.email-input{
	font-size: 12px;
	width: 178px;
	height: 29px;
	border: 1px #bababa solid;
	border-radius: 4px;
	padding: 5px 7px;
}

.email-contact{
	margin-left: 22px;
	width: 188px;
	float: right;
}

.contact-f .message-contact{
	margin-bottom: 12px;
}

.label-message{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.message-input{
	padding: 5px 10px;
	resize: none;
	height: 170px;
	width: 380px;
	border: 1px #bababa solid;
	border-radius: 4px;
	font-size: 12px;
}

.capcha-contact{
	margin-bottom: 30px;
	display: table;
}

.capcha-wraper{
	float: left;
	border: 1px #bababa solid;
	border-radius: 4px;
	overflow: hidden;
}

.capcha-text{
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.capcha-img{
	display: block;
	width: 100%;
}

.capcha-confirm{
	margin-top: 20px;
	margin-left: 18px;
	float: right;
	font-size: 12px;
	width: 174px;
	height: 20px;
	border: 1px #bababa solid;
	border-radius: 4px;
	padding: 5px 7px;
}

.buttons-contact{
	display: table;
	margin-bottom: 150px;
	
}

.submit-button{
	color: #1e7465;
	font-weight: bolder;
	float: left;
	margin-left: 28px;
	overflow: hidden;
	min-width: 125px;
	max-width: 150px;
	width: auto;
	min-height: 38px;
	max-height: 80px;
	height: auto;
	
	border: 1px #57d2b4 solid;
	border-radius: 4px;
	background: linear-gradient(to top, #44b897, #7fe8cb);
}

.clear-button{
	font-weight: bolder;
	background: #FFF;
	float: right;
	margin-left: 95px;
	overflow: hidden;
	min-width: 125px;
	max-width: 150px;
	width: auto;
	min-height: 38px;
	max-height: 80px;
	height: auto;
	border: 1px #bababa solid;
	border-radius: 4px;
	background: linear-gradient(to top, #e5e3e2, #fcfcfc);

}
.submit-button:hover{
	background: linear-gradient(to top, #3aa187, #5edbbc);
}

.clear-button:hover{
	background: linear-gradient(to top, #bfbdbd, #e7e6e6);
}