.main-block{
	overflow: hidden;
	border: 1px #bababa solid;
	border-radius: 6px;
	background: #f0efee;
	margin-bottom: 26px;
}

.main-block .Head-text{
	width: 100%;
	font-size: 24px;
	font-weight: normal;
	color: #eeedec;
	border: 1px #636363 solid;
	margin: 0 0 30px;
	background: linear-gradient(to top, #7c7979, #a8a7a7);
	display: inline-block;
	padding: 11px 44px;
}

.information{
	width: 400px;
	margin: 0 auto;
}

.information .contact-f{
	margin-bottom: 30px;
}

.contact-f .name-email-contact{
	margin-bottom: 20px;
	display: inline-block;
}

.name-contact{
	width: 188px;
	float: left;
}

.label-name{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.label-email{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.name-input{
	font-size: 12px;
	width: 188px;
	height: 33px;
	border: 1px #bababa solid;
	border-radius: 4px;
}

.email-input{
	font-size: 12px;
	width: 188px;
	height: 33px;
	border: 1px #bababa solid;
	border-radius: 4px;
}

.email-contact{
	margin-left: 20px;
	width: 188px;
	float: right;
}

.contact-f .message-contact{
	margin-bottom: 5px;
}

.label-message{
	display: block;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.message-input{
	resize: none;
	height: 180px;
	width: 395px;
	border: 1px #bababa solid;
	border-radius: 4px;
	font-size: 12px;
}

.capcha-contact{
	margin-bottom: 30px;
	display: table;
}

.capcha-wraper{
	float: left;
	border: 1px #bababa solid;
	border-radius: 4px;
	overflow: hidden;
}

.capcha-text{
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: 8px;
}

.capcha-img{
	display: block;
	width: 100%;
}

.capcha-confirm{
	margin-top: 20px;
	margin-left: 18px;
	float: right;
	font-size: 12px;
	width: 188px;
	height: 33px;
	border: 1px #bababa solid;
	border-radius: 4px;
}

.buttons-contact{
	display: table;
	margin-bottom: 150px;
	
}

.submit-button{
	font-weight: bolder;
	background: #FFF;
	float: left;
	margin-left: 28px;
	height: 38px;
	width: 125px;
	border: 1px #bababa solid;
	border-radius: 4px;
	
}

.clear-button{
	font-weight: bolder;
	background: #FFF;
	float: right;
	margin-left: 95px;
	height: 38px;
	width: 125px;
	border: 1px #bababa solid;
	border-radius: 4px;

}
.submit-button:hover{
	border: 1px #57d2b4 solid;
	color: #1e7465;
	background: linear-gradient(to top, #2d9a7f, #8fe7d1);
}

.clear-button:hover{
	border: 1px #57d2b4 solid;
	color: #1e7465;
	background: linear-gradient(to top, #2d9a7f, #8fe7d1);
}